.text_clear
  %ul.menu.taxons
    %li= link_to "Region", "/shop/t/categories/region" 
    %li= link_to "Type", "/shop/t/categories/type"  
    %li= link_to "Brand", "/shop/t/categories/brand"
    %li= link_to "Accessories", "/shop/t/categories/accessories"  
    %li= link_to "Grab Bags", "/shop/t/categories/grab-bag"  
