= render 'shared/main_menu'

= image_tag('logo.png', :width => "938px")

= render 'spree/shared/slider'

= render 'shared/login'

= render 'shared/taxon_menu'

= render 'shared/products'

= render 'shared/top_ten'

= render 'spree/shared/news'

